.item {
  width: 400px;
  height: 640px;
  border: 1px solid yellow;
  position: relative;
  text-align: center;
  background: black;
  color: wheat;
  .desrcp {
    margin-top: 40px;
  }
  img {
    height: 50%;
    width: 100%;
  }
  a {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: orange;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }
}
